/* root Css */
:root {
  --dBlue--scheme: #161b33;
  --blue--scheme: #058ed9;
  --orange--scheme: #f96e46;
  --white--scheme: #ecf0f1;
}

/* all selected css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html & body css */
html,
body {
  height: 100%;
}

body {
  font-family: "Noto Sans", sans-serif;
}

/* header section css */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  /* background: var(--blue--scheme); */
  background: linear-gradient(
    to bottom right,
    var(--dBlue--scheme),
    var(--blue--scheme)
  );
  outline: solid 3px var(--dBlue--scheme);
  /* box-shadow: 0px 0px 300px 30px var(--blue--scheme); */
}
#title {
  color: var(--white--scheme);
  font-size: 3em;
  text-shadow: 0 0 20px var(--dBlue--scheme);
}
#snowflake {
  color: var(--blue--scheme);
}
#sun {
  color: var(--orange--scheme);
}

/* error div search css */
.notification {
  font-size: 30px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  left: 5%;
  right: 5%;
  text-align: center;
  height: fit-content;
  color: var(--white--scheme);
  background-color: var(--orange--scheme);
  border-radius: 33px;
  border: 1px solid var(--dBlue--scheme);
  transition: all 0.75s ease;
}
/* div .main-section css */
.main-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* aside/ search Container css  */
.searchContainer {
  width: 29%;
}

#searchFor {
  text-align: center;
  font-size: xx-large;
  padding-bottom: 5px;
}
#searchInput {
  width: 100%;
  font-size: 1.5em;
  border-radius: 4px;
}
#searchBtn {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  color: var(--white--scheme);
  background-color: var(--blue--scheme);
  border-radius: 4px;
  border: 1px solid var(--dBlue--scheme);
}
#searchBtn:hover {
  background-color: var(--orange--scheme);
  cursor: pointer;
}

#searchDivider {
  width: 100%;
  border-bottom: 1px solid black;
}

#prevSearch p {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px 0;
  padding: 5px 0px;
  color: var(--blue--scheme);
  background-color: var(--white--scheme);
  border: 1px solid var(--dBlue--scheme);
  border-radius: 4px;
}
#prevSearch p:hover {
  color: var(--white--scheme);
  background: linear-gradient(
    to bottom right,
    var(--dBlue--scheme),
    var(--blue--scheme)
  );
  cursor: pointer;
}
/* main/.forecastContainer section css */
.forecastContainer {
  width: 69%;
  display: flex;
  flex-direction: column;
  transition: all 0.75s ease;
}
#currentForecast {
  border: 2px solid var(--dBlue--scheme);
  padding: 15px 40px;
  color: var(--dBlue--scheme);
  background: linear-gradient(
    to bottom right,
    var(--white--scheme),
    var(--blue--scheme)
  );
  border-radius: 4px;
}
.currentForecastIcon {
  margin: -35px 0px;
  height: fit-content;
  width: fit-content;
}
#currentForecast p {
  padding-top: 5px;
  padding-bottom: 5px;
}
#cityName {
  font-size: xx-large;
}
#forecastTitle {
  padding: 10px 0;
}

.forecasts {
  display: flex;
  justify-content: space-between;
}
.forecastDay {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 19%;
  color: var(--white--scheme);
  background: linear-gradient(
    to bottom right,
    var(--dBlue--scheme),
    var(--blue--scheme)
  );
  padding: 20px 5px;
  border-radius: 4px;
  border: 2px solid black;
}
.forecastDay p {
  font-size: 1em;
  padding: 2px 1px;
}
.forecastIcon {
  height: 60px;
  width: fit-content;
}
.forecastDay p:first-child {
  font-size: 1.2em;
}

/* add/removeable css classes */
.hidden {
  visibility: hidden;
  opacity: 0;
}
.show {
  visibility: visible;
  opacity: 1;
}

.col-centre {
  flex-direction: column;
  align-items: center;
}

/* Media queries css */
@media (max-width: 1050px) {
  .forecasts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 5px;
    column-gap: 5px;
    justify-items: center;
  }
  .forecastDay {
    width: auto;
    justify-self: stretch;
  }
  #currentForecast {
    padding: 5px 5px;
  }

  .currentForecastIcon {
    position: absolute;
  }
}
@media (max-width: 800px) {
  #cityName {
    font-size: large;
  }
  /* .currentForecastIcon {
    position: relative;
  } */
}
@media (max-width: 600px) {
  header {
    padding: 7px;
  }
  .main-section {
    flex-direction: column;
    align-items: center;
  }

  #title {
    color: var(--white--scheme);
    font-size: 1.45em;
    text-shadow: 0 0 20px var(--dBlue--scheme);
  }
  .forecasts {
    grid-template-columns: 1fr;
  }
}
